<div class="product-details-container">
    <a routerLink='' class="btn btn-secondary back-button">Back</a>
    <div class="detailsContainer">
    <div class="product-details-content">
      <div class="product-image">
        <img src="/assets/{{product.productImgPath.split('/').pop()}}" alt="{{ product?.productName }}" />
      </div>
      <div class="product-info">
        <h1>{{ product?.productName }}</h1>
        <p>{{ product?.description }}</p>
        <h2>Price: ₹{{ product?.price | number:'1.2-2' }}</h2>
        <button  class="btn btn-primary">Contact Seller</button>
      </div>
    </div>
  </div>
</div>
